app_name= # Add the container/hostname of the container
app_ipv4= # Add the IPv4 of the container 

db_name= # Add the container/hostname of the container
db_ipv4= # Add the IPv4 of the container
 
db_user= # Add the database user
db_password= # Add the database user password
db_database= # Add the database

redis_name= # Add the container/hostname of the container
redis_ipv4= # Add the IPv4 of the container 

restart_mode=unless-stopped # When and if the container should be restarted
timezone=Europe/Berlin # Or edit to your timezone

cloud_trusted_domains= # Add your domain the nextcloud ist pointing to like cloud.example.com 
cloud_proxies= # add your proxie network
cloud_overwritecliurl= # Add your complete url like https://cloud.example.com

cloud_admin_user= # Default admin name after installation
cloud_admin_password= # Default admin password after installation

smtp_username= # SMTP username
smtp_password= # SMTP passowrd
smtp_name= # The name the mail should come from like admin
smtp_domain= # The domain your sending from like example.com
## It's build like smtp_name@smtp_domain
smtp_host= # SMTP host address like smtp.example.com

network_name= # Add your docker network name
