app_name= # Add the container/hostname of the container
app_ipv4= # Add the IPv4 of the container 

runner01_name= # Add the container/hostname of the container
runner01_ipv4= # Add the IPv4 of the container 

server_domain= # Add the servers domain like git.example.com
server_root_url= # Add the fqdn like https://git.example.com

db_path=/data/gitea/gitea.db # Only edit if you know what your doing
db_type=sqlite3 # Only edit if you know what your doing
db_host=localhost:3306 # Only edit if you know what your doing
db_name=gitea # Only edit if you know what your doing
db_user=root # Only edit if you know what your doing
# db_log_sql=false
# db_ssl_mode=disable

smtp_username= # SMTP username
smtp_password= # SMTP passowrd
smtp_from= # SMTP from like git@example.com
smtp_host= # SMTP host address like smtp.example.com
smtp_port= # SMTP port

network= # Add your docker network name